body{
    margin: 0;
}
header{
    font-family: Arial,'Montserrat', Helvetica, sans-serif;
}

h1{
    font-weight: 700;
    padding:0px;
    font-size: 160px;
    margin-bottom: 20px;
    color: antiquewhite;
}
.home{
    padding-left: 5%;
    background-color: #902727;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    background-image: url("../image/732fdea1058b72a044be0b30ee7368e9.jpeg");
}
.red{
    color: #F19A4D;
}
.home p{
    color: antiquewhite;
    margin-bottom: 100px;
    font-size: 48px;
    font-weight: 600;
}

.navbar{
    position: sticky;
    top:0;
    background-color: antiquewhite;
    font-family: Arial,'Montserrat', Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: row;
    padding:0% 0% 0% 0%;
}

.navbar #navbarTitle{
    color:#000000;
    font-weight: 700;
    padding-right: 60%;
    font-size: 28px;
    text-decoration: none;
}

.navbar #navbarAbout{
    position: sticky;
    top: 0;
    color:#000000;
    font-size: 24px;
    font-weight: 400;
}

img{
    height: 20%;
    width: 10%;
    padding: 0px;
    margin: 0px;
}
.cards{
    background-color: #F19A4D;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 17px;
    flex-wrap: wrap;
    padding: 0px;
    width: 80%px;
    /* background-color: #000000; */
}

.card{
    display: flex;
    background-color: antiquewhite;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    background-color: #902727;
    font-family: Arial,'Montserrat', Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
footer h1{
    font-size: 64px;
    padding-left: 2%;
}
footer p{
    font-size: 36px;
    color: antiquewhite;
    padding-right: 2%;
}