body{
    margin: 0;
}
header{
    font-family: Arial,'Montserrat', Helvetica, sans-serif;
}

h1{
    font-weight: 700;
    padding:0px;
    font-size: 160px;
    margin-bottom: 20px;
    color: antiquewhite;
}
.home{
    background-image: url(Tips-for-Staying-Calm-in-Traffic-Jam-Cover-20210806-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    background-color: #6C6C6C;
    background-blend-mode: multiply;
    padding-top: 0.2%;
    padding-bottom: 0.2%;

}
.red{
    color: #F19A4D;
}
.home p{
    color: antiquewhite;
    margin-bottom: 100px;
    font-size: 48px;
    font-weight: 600;
}

.navbar{
    position: sticky;
    top:0;
    background-color: #252525;
    font-family: Arial,'Montserrat', Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: row;
    padding:0% 0% 0% 0%;
}

.navbar #navbarTitle{
    color:#FFFFFF;
    font-weight: 700;
    padding-right: 60%;
    font-size: 28px;
    text-decoration: none;
}

.navbar #navbarAbout{
    position: sticky;
    top: 0;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 400;
}

img{
    height: 40%;
    padding: 0px;
    margin: 0px;
}
.cards{
    background-color: #CDCDCD;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: left;
    gap: 17px;
    flex-wrap: wrap;
    padding: 0px;
    width: 80%;
}

.card{
    box-sizing: border-box;
    display: flex;
    background-color: #213150;
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    flex-direction: column;
    box-shadow:inset;
}
.card #cardname{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2%;
}
.card p{
    font-family: Arial,'Montserrat', Helvetica, sans-serif;
    font-weight: 500;
    color: antiquewhite;
    text-align: center;
    margin: 5px 0 5px 0;
}

footer{
    border-top: antiquewhite solid 5px;
    background-color: #252525;
    font-family: Arial,'Montserrat', Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h1{
    font-size: 48px;
    padding-left: 2%;
}
footer p{
    font-size: 24px;
    color: antiquewhite;
    padding-right: 2%;
}