<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>We Want VEHICLESSS</title>
        <link rel="stylesheet" href="{% static 'show_card.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <header>
            <div class="home">
                <h1>We Want<br/><span class="red">VEHICLESSS</span></h1>
                <p>Numero uno<br/>vehicle database</p>
            </div>
        </header>
        <div class="navbar">
            <a href = "" id="navbarTitle">We Want <span class="red">VEHICLESSS</span></a>
            <p id="navbarAbout">About Us</p>
        </div>
        <div class = "cards">
            <div class = "container">
                {% for card in cards %}
                <div class="card">
                    <p id="cardname">{{card.name}}</p>
                    <img src={{card.image_link}} alt="{{card.name}}">
                    <p>Amount : {{card.amount}}</p>
                    <p>{{card.description}}</p>
                    <br/>
                </div>
                {% endfor %}
            </div>
        </div>

    </body>
    <footer>
        <h1>We Want<br/><span class="red">VEHICLESSS</span></h1>
        <p>Don't Contact Us</p>
    </footer>
</html>